<div class="card mb-5">
  <div class="card-body">
    <div class="card-titulo d-flex flex-wrap mb-4 align-end justify-content-between">
      <div class="item w-100">
        <h4 class="mb-4 col-lg-12">
          <a class="text-dark text-decoration-none" href="/user/list">Usuário </a> / 
          <a class="text-dark text-decoration-none" href="/user/register"><small>Cadastro</small></a>
        </h4>
      </div>
      <div class="item w-100">
        <form id="form-user" name="form-user" action="/user/register" method="POST">

          {{#if sucess_message}}
            <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
              {{sucess_message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
          {{/if}}
 
          {{#if error_message}}
            <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
              {{error_message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
          {{/if}}

          <div class="col-lg-12 d-flex flex-wrap p-0">
            <div class="col-lg-6 col-md-12 mb-3">
              <label for="labelusr" class="form-label">Usuário</label>
              <input type="text" class="form-control" id="name" name="name" aria-describedby="Usuário" required>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <label for="labelcpf" class="form-label">CPF</label>
              <input type="text" class="form-control" id="cpf" name="cpf" aria-describedby="CPF" required>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <label for="labeltel" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="telefone" name="telefone" aria-describedby="Telefone" required>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <label for="labelst" class="form-label">Status</label>
              <select name="status" id="status"  class="form-control" required>
                <option value="Ativo">Ativo</option>
                <option value="Inativo">Inativo</option>
              </select>
            </div>
            <div class="col-lg-12 col-md-12 mb-3">
              <label for="labelcpt" class="form-label">Complemento</label>
              <textarea class="form-control" name="complemento" id="complemento" aria-describedby="Complemento" cols="30" rows="10" required></textarea>
            </div>
            
            <div class="col-lg-12">
              <button type="submit" class="btn mb-3 btn-primary">Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>